<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel-Outpass-Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen">
    <div class="flex justify-center h-48 bg-green-500 place-items-center rounded-b-xl">
        <h1 class="text-white text-4xl">WELCOME</h1>
    </div>
    <div class="flex justify-center mt-10">
        <h1 class="text-gray-600 text-2xl">Login</h1>
    </div>
    <div class="mt-1 p-0">
        <div class="flex flex-col flex-wrap content-center w-full">
            <form action="/session" method="post">
                <div class="flex flex-col mt-2">
                    <label for="email" class="text-xl text-gray-600">Email</label>
                    <input class="w-full h-10 border-2 border-slate-600 rounded-sm" name="email" type="email" placeholder="Enter mail">
                </div>
                <div class="flex flex-col mt-2">
                    <label for="password" class="text-xl text-gray-600">Password</label>
                    <input class="w-full h-10 border-2 border-slate-600 rounded-sm" name="password" type="password" placeholder="Enter Password">
                </div>
                <div>
                    <button type="submit" class="bg-green-500 border-2 border-slate-600 rounded-sm mt-2">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>