<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Rejected Outpasses</title>
</head>
<body>
    <div class="container">
        <div>
            <div class="h-20 flex  justify-center items-center bg-amber-400 rounded-b-lg h-12 text-2xl font-medium leading-tight text-gray-600">
                <h5>REJECTED OUTPASS</h5>
            </div>
        </div>
        <div class="mt-4 p-2 ">
            <div class="p-2 bg-red-400 rounded-lg h-20 text-xl font-medium leading-tight text-gray-800">
                <div class="mt-1 font-medium">
                    <h5>Outpass 1</h5>
                    <p>Date</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>